<h2>Editing Programming Language '<%= @programming_language.name %>'</h2>

<% form_tag( {:action => 'update', :id => @programming_language}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Back', {:action => 'list'}, {:class => 'btn'} %>
<% end %>
