<ul>
<% for column in ProgrammingLanguage.content_columns %>
  <li><strong><%= column.human_name %>:</strong> <%=h @programming_language.send(column.name) %></li>
<% end %>
</ul>

<%= link_to 'Edit', {:action => 'edit', :id => @programming_language}, {:class => 'btn btn-success'} %>
<%= link_to 'Cancel', {:action => 'list'}, {:class => 'btn'} %>
