<%= error_messages_for 'crn' %>
<!--[form:crn]-->
<div class="block">
<p><label for="crn_crn" class="required">CRN (course registration number):</label>
<%= text_field 'crn', 'crn'  %></p>
<p><label for="crn_name" class="required">Name:</label>
<%= text_field 'crn', 'name'  %></p>
<p><label for="crn_title" class="required">Title:</label>
<%= text_field 'crn', 'title'  %></p>
</div>
<!--[eoform:crn]-->

