<%= error_messages_for('crn', {:class => 'alert alert-error'}) %>

<!--[form:crn]-->
<div class="control-group">
  <label for="crn_crn" class="control-label">CRN</label>
  <div class="controls">
    <%= text_field 'crn', 'crn'  %>
  </div>
</div>
<div class="control-group">
  <label for="crn_name" class="control-label">Name</label>
  <div class="controls">
    <%= text_field 'crn', 'name'  %>
  </div>
</div>
<div class="control-group">
  <label for="crn_title" class="control-label">Title</label>
  <div class="controls">
    <%= text_field 'crn', 'title'  %>
  </div>
</div>
<!--[eoform:crn]-->
