<h2>CRN Admin</h2>
<p>Course Registration Numbers (CRNs) are used for automatic enrollment resolution based on the CRNs being available in LDAP.</p>
<p>If you are using basic authentication, then this page is not necessary.</p>