<h2>Program outcomes for <%= @program.title %></h2>
<% if @program.program_outcomes.length == 0 %>
  <div class="alert alert-info">There are no outcomes defined for this program.</div>
<% else %>
<ul>
<% count = 0 %>
<% for outcome in @program.program_outcomes %>	
  <% count = count.next  %>
  <li><%= count %>) <%=h outcome.outcome %></li>
<% end %>	
</ul>
<% end %>