<div id="sub_menu">
<p><%= link_to 'Back', :controller => '/audit', :id => @program, :action => 'surveys', :course => @course %></p>
</div>

<%= render :partial => '/program/compare_surveys_common' %>


