<%= error_messages_for('post', :class => 'alert alert-error') %>

<fieldset>
 <div class="control-group">
   <label for="post_headline"  class="control-label">Title</label>
   <div class="controls">
     <%= text_field 'post', 'headline', {:class => 'input-large'}  %>
   </div>
 </div>	
 <div class="control-group">
   <label class="control-label" for="post_post">Post</label>
   <div class="controls">
	 <p class="help-block"><%= render :partial => 'formatting'%></p>
     <%= text_area 'post', 'post', :class => 'input-xlarge' %>
   </div>
 </div>
</fieldset>