
<%= error_messages_for 'post' %>

<!--[form:post]-->
<div class="block">

<p><label for="post_headline"  class="required">Title:</label>
<%= text_field 'post', 'headline'  %></p>

<p><label for="post_post" class="required">Post:</label>
<%= text_area 'post', 'post'  %></p>


</div>
<!--[eoform:post]-->