<h3>New post in forum: <%= @topic.topic %></h3>

<% form_tag( {:action => 'submit_post', :topic => @topic.id}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'post_form' %>
  <%= submit_tag("Submit Post", {:class => 'btn btn-primary'}) %>
  <%= link_to('Cancel', {:action => 'view_topic', :id => @topic.id}, {:class => 'btn'}) %>
<% end %>
