<h2>Create new Forum Topic</h2>

<% form_tag( {:action => 'create_forum'}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'topic_form' %>
<div class="submit">
  <%= submit_tag("Create Topic", {:class => 'btn btn-primary'}) %>
  <%= link_to('Cancel', {:action => 'index'}, {:class => 'btn'}) %>
</div>
<% end %>

</div>