<h2><%= @course.title %> 
<% if @course.short_description %>, <%= @course.short_description %><%end%></h2>

<p><%= image_tag 'application_view_list.png' %><b>List View</b> | <%= image_tag 'calendar_view_day.png' %><%= link_to 'Calendar View', :controller => '/overview', :course => @course.id, :action => 'calendar' %></p>

<%= render :partial => "fresh", :locals => { :public => false } %>