<div id="form_area">

<% form_tag( :action => 'update', :id => @announcement ) do %>
  <h2>Editing announcement</h2>

  <%= render :partial => 'form' %>

  <div class="submit">
    <%= submit_tag "Save Changes" %>
  </div>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @announcement %> |
<%= link_to 'Back', :action => 'list' %>

</div>