<% form_tag({:action => 'update', :id => @announcement}, {:class => 'form-horizontal'}) do %>
  <h2>Editing announcement</h2>

  <%= render :partial => 'form' %>

  <%= submit_tag "Save Changes", :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:action => 'list'}, {:class => 'btn'} %>
<% end %>
