<div id="form_area">

<% form_tag( :action => 'create' ) do %>
  <h2>Create New announcement</h2>

  <%= render :partial => 'form' %>

  <div class="submit">
    <%= submit_tag "Create" %>
  </div>
<% end %>

<%= link_to 'Back', :action => 'list' %>

</div>