<% form_tag({:action => 'create'}, {:class => 'form-horizontal'}) do %>
  <h2>Create New announcement</h2>

  <%= render :partial => 'form' %>

  <%= submit_tag 'Create', {:class => 'btn btn-primary'} %>
  <%= link_to 'Back', {:action => 'list'}, {:class => 'btn'} %>
<% end %>
