<div id="form_area">

<%= start_form_tag :action => 'create' %>
  <h2>Create New announcement</h2>

  <%= render :partial => 'form' %>

  <div class="submit">
    <%= submit_tag "Create" %>
  </div>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>

</div>