<%= render :partial => '/public/enrolled' %>

<%= render :partial => '/blog/article', :locals => { :post => @post, :single => true, :public => true } %>
<div id="leave_comment">
<h2>Comments</h2>
<div class="alert">Comments are disabled for the public and hidden to protect student identities. If you are in this course and want to post, please log in.</div>	
</div>
