<h2>Administer your Courseware Installation</h2>

<ul>
  <li><%= link_to 'Course Admin', :controller => '/admin/course_admin' %></li>
  <li><%= link_to 'User Admin', :controller => '/admin/user_admin' %></li>
  <li><%= link_to 'Terms', :controller => '/admin/terms' %></li>	
</ul>