<h2>Course Outcomes</h2>
<p>From here you can create individual course outcomes.  Course outcomes can stand alone or be mapped to a program outcome.   To map to a program outcome, you must first map the course to one or more programs.</p>