<p><%= link_to 'Back', :controller => '/instructor/outcomes', :action => nil, :course => @course %> |
   <%= link_to "#{image_tag 'page_white_excel.png', :align => 'absmiddle'} Export this report as a spreadsheet", :controller => '/instructor/outcomes', :course => @course, :action => 'rubrics_report', :format => 'csv' %>
</p>

<%= render :partial => 'rubrics_report_part' %>
