<div class="control-group">
  <label for="course_title" class="control-label">Title</label>
  <div class="controls">
  <%= text_field 'course', 'title'  %><br/>
    <p class="help-block">Course title is the short title (course number).  For example, 'CS 101'.</p>
  </div>
</div>
<div class="control-group">
  <label for="course_short_description" class="control-label">Description</label>
  <div class="controls">
    <%= text_field 'course', 'short_description' %>
    <p class="help-block">Description is a more formal course title. For example 'Introduction to Computer Science'.</p>
  </div>
</div>
<div class="control-group">
  <label for="term" class="control-label">Term</label>
  <div class="controls">
    <%= select_tag 'term', options_from_collection_for_select(@terms, "id", "semester", @course.term.id ) %>
  </div>
</div>