<h2>Course Administration</h2>
<p>These screens should be a last resort.   It is best to let instructors manage their own courses.</p>

<h2>Term Information</h2>
<ul>Current Term:
  <li>ID: <%= @current_term.term %></li>
  <li>Name: <%= @current_term.semester %></li>
</ul>