<% form_remote_tag( :update => 'courses', :url => { :action => :change_term }, :complete => "new Effect.BlindDown('courses')", :html => {:class => 'form-inline well'} )do  %>
<%= link_to 'Create a New Course', {:action => 'new'}, {:class => 'btn btn-success'} %>
<%= select_tag 'id', options_from_collection_for_select(@terms, "id", "semester", @current_term.id ) %> 
<%= submit_tag( 'Change Term', :on_click => "new Effect.BlindUp('courses')", :class => 'btn btn-warning' ) %>
<% end %>

<div id="courses">
<%= render :partial => 'courses' %>
</div>