<div class="SectionHeader"><div class="Full">
<h2>AutoGrade Queue - Monitor Console</h2>
</div></div>
<p><%= link_to 'View Queue', :course => @course, :controller => '/instructor/monitor', :action => 'agqueue' %> | 
   <%= link_to 'View Failures', :course => @course, :controller => '/instructor/monitor', :action => 'agfailed' %></p>

<% if @items.size == 0 %>
<p>There are no unprocessed items in the AutoGrader queue.</p>

<% else %>

<%= render :partial => 'table'%>

<% end %>