<h2>Editing folder '<%= @document.title %>'</h2>

<% unless @folder.nil? %>
<p>Folder is nested in the folder:<br>
<b><%= @folder.relative_path() %></b>
</p>
<% end %>

<div id="form_area">
<%= start_form_tag( { :action => 'update_folder', :id => @document }, :multipart => true )%>
  <%= render :partial => 'folder_form' %>
<div class="submit"> 
  <%= submit_tag 'Edit Folder' %>
</div>
<%= end_form_tag %>

</div>

<%= link_to 'Back', :action => 'index', :id => @document.document_parent %>
