<h2>New Folder</h2>

<% unless @folder.nil? %>
<div class="alert alert-info">New folder nested in <strong><%= @folder.relative_path() %></strong></div>
<% end %>

<% form_tag( {:action => 'create_folder', :id => @folder_id}, {:class => 'form-horizontal'}) do %>
  <%= render :partial => 'folder_form' %>

  <%= submit_tag('Create Folder', :class => 'btn btn-success') %>
  <%= link_to('Back', {:action => 'index', :id => @folder}, {:class => 'btn'}) %>
<% end %>
