<%= error_messages_for 'program' %>


<!--[form:programming_language]-->
<div class="block">
<p><label for="program_title" class="required">Program Name:</label>
<%= text_field 'program', 'title'  %></p>
</div>

<!--[eoform:programming_language]-->

