<%= error_messages_for('program', {:class => 'alert alert-error'}) %>


<!--[form:programming_language]-->
<div class="control-group">
  <label for="program_title" class="control-label">Program Name</label>
  <div class="controls">
    <%= text_field 'program', 'title', {:class => 'input-xlarge', 'data-provide' => 'typeahead',
		'data-source' => "#{format_autocomplete(@majors)}" } %>
  </div>
</div>
<!--[eoform:programming_language]-->
