<% if request.path_parameters['action'].eql?('managers') %>

<h2>Add Managers and Auditors</h2>
<% form_remote_tag( :update => 'search_results', :url => { :action => :search, :id => @program }, :complete => "new Effect.BlindDown('search_results');", :class => 'form-search' ) do %>
	<%= text_field_tag 'searchterms', '', :class => 'input-medium search-query' %>
	<%= submit_tag 'Search', :class => 'btn' %>
<% end %>
<span id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></span>

<div id="search_results" style="display: none;">
</div>

<% else %>
<h2>Programs (Accreditation Groupings)</h2>
<p>This section allows you to set up the various programs that program objectives are categorized under.</p>
<% end %>
