<h2>Editing Program '<%= @program.title %>'</h2>

<% form_tag({:action => 'update', :id => @program}, {:class => 'form-horizontal'}) do %>
  <%= render :partial => 'form' %>

  <%= submit_tag 'Edit', :class => 'btn btn-primary' %>
  <%= link_to 'Back', {:action => 'list'}, {:class => 'btn'} %>
<% end %>
