<h2>Program Managers/Auditors for '<%= @program.title %>'</h2>

<p><%= link_to 'Done', {:action => 'list', :id => nil}, {:class => 'btn btn-success'} %></p>

<h3>Program Managers</h3>
<div id="managers_list">
 <%= render :partial => 'userlist', :locals => {:users => @managers, :utype => 'manager'}%>
</div>

<hr/>
<h3>Program Auditors</h3>
<div id="auditors_list">
 <%= render :partial => 'userlist', :locals => {:users => @auditors, :utype => 'auditor'}%>
</div>
