<%= error_messages_for('team', :class => 'alert alert-error') %>

<!--[form:post]-->
<fieldset>
<span class="help-inline">After creating the team, you will have a chance to add team members.</span>

<div class="control-group">
 <label for="team_team_id" class="control-label">Team ID (short name<% if @course.course_setting.enable_svn %>, for Subversion<% end %>):</label>
 <div class="controls">
  <%= text_field('team', 'team_id') %>
 </div>
</div>

<div class="control-group">
 <label for="team_name"  class="control-label">Team Name:</label>
 <div class="controls">
  <%= text_field('team', 'name') %>
 </div>
</div>
</fieldset>
<!--[eoform:post]-->