<h2>Editing project team for <%= @course.title %></h2>
<% form_tag( {:action => 'update', :id => @team}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>

  <%= submit_tag('Edit', :class => 'btn btn-primary') %>
  <%= link_to('Cancel', {:course => @course, :controller => '/instructor/teams'}, {:class => 'btn'}) %>
<% end %>