<div id="form_area">
<h2>Editing project team for <%= @course.title %></h2>
<p><%= link_to 'Cancel', :course => @course, :controller => '/instructor/teams' %></p>

<% form_tag( :action => 'update', :id => @team ) do %>
  <%= render :partial => 'form' %>
<div class="submit">
  <%= submit_tag 'Edit' %>
</div>
<% end %>

</div>

<p><%= link_to 'Cancel', :course => @course, :controller => '/instructor/teams' %></p>