<h2>New project team for <%= @course.title %></h2>
<% form_tag( {:action => 'create'}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag("Create", {:class => 'btn btn-primary'}) %>
  <%= link_to('Cancel', {:course => @course, :controller => '/instructor/teams'}, {:class => 'btn'}) %>
<% end %>
