<p class="blockintro">The course name should be generally the program code, course number, and short title. For example 'CSA174 - Fundamentals of Programming and Problem Solving'</p>
<div class="block">
	<p><label for="course_tempalte_title" class="required">Course Name:</label>
	<%= text_field 'course_template', 'title', :size => 50 %></p>
</div>

<p class="blockintro">The start date should be descriptive of the first time that this template is valid, for example 'Fall 2008' or 'Academic year 2009'.</p>
<div class="block">
	<p><label for="course_tempalte_start_date" class="required">Start Date:</label>
	<%= text_field 'course_template', 'start_date'  %></p>
</div>