<fieldset>
  <div class="control-group">
	<label for="program_outcome_outcome" class="control-label">Program Outcome:</label>
	<div class="controls">
	   <%= text_area 'program_outcome', 'outcome', {:rows => '5', :cols => '150'} %>
	</div>
  </div>
</fieldset>