<h2>Programs</h2>
<p>From here you can manage program outcomes and run reports on those program outcomes.   If you also have the auditor role, you will be able to see more details about how those program outcomes map to course objectives and how assignments in courses meet those objectives.</p>