<div class="SectionHeader"><div class="Full">
<h2>Edit Outcome for <%= @program.title %></h2>
</div></div>

<div id="form_area">
  <%= error_messages_for 'program_outcome' %>	
  <% form_tag( :action => 'update_outcome', :id => @program, :outcome => @program_outcome ) do %>

  <%= render :partial => 'form' %>
 
  <div class="submit">
	<%= submit_tag "Save Changes to Outcome" %>
  </div>
  <% end %>	
</div>