<p>
 <%= link_to "Back", :controller => '/program', :action => 'courses', :id => @program, :term => @course.term %>	
</p>

<div class="SectionHeader"><div class="Full">
<h2>Entry/Exit Surveys for <%= @course.title %> (<%= @course.term.semester %>)</h2>
</div></div>

<%= render :partial => 'survey_select' %>
