<h2>New I/O Test for '<%= @assignment.title %>'</h2>

<% form_tag({:action => 'create'}, {:class => 'form-horizontal'}) do %>
  <%= render(:partial => 'form') %>
 
  <%= submit_tag("Create New I/O Test", :class => 'btn btn-primary') %>
  <%= link_to('Back / Cancel', {:action => 'index'}, {:class => 'btn'}) %>
<% end %>