<h2>New I/O Test for '<%= @assignment.title %>'</h2>

<p><%= link_to 'Back / Cancel', :action => 'index' %></p>

<div id="form_area">

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
 
  <div class="submit">
    <%= submit_tag "Create New I/O Test" %>
  </div>
<%= end_form_tag %>

</div>

<p><%= link_to 'Back / Cancel', :action => 'index' %></p>
