#tab_main {
  background: #789A9F;
  padding-top: 1.8em;
  width: 98%
}

#tab_content {
  width: 100%;
  padding: 10px 0 0 0;
  background: #fff;
  min-height: 300px;
}

#header {
  position: relative;
  width: 98%;
  height: 3em;
  width: 48em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -1px;
  width: 48em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary li  {
  display: inline;
  list-style: none;
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
  width: 9.6em;
  display: block;
  float: left;
  padding: 2px 0;
  margin: 1px 2px 0 0;
  text-align: center;
  font-family: tahoma, verdana, sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #333;
}

#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover {
  border: 1px solid #666;
  border-bottom: none;
  background: #789A9F;
  padding-bottom: 4px;
  margin-top: 0;
  color: #FFF;
}

#header ul#primary a {
  background: #EDF4F5;
  border: 1px solid #AAA;
  border-bottom: none;
}

#header ul#primary a:hover {
  margin-top: 0;
  border-color: #666;
  background: #fff;
  padding-bottom: 3px;
}

#header ul#secondary {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -1.4em;
  left: 1px;
  width: 48em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#secondary li a,#header ul#secondary li span {
  width: auto;
  display: block;
  float: left;
  padding: 0 10px;
  margin: 0;
  text-align: auto;
  border: none;
  border-right: 1px dotted #AAA;
  background: none;
}

#header ul#secondary li a {
  color: #FFF;
  text-decoration: underline;
}

#header ul#secondary li a:hover {
  color: #E1FFFA;
  background: transparent;
  padding: 0 10px;
  border: none;
  border-right: 1px dotted #AAA;
}

#header ul#secondary li a:active {
  color: #000;
  background: transparent;
}

#header ul#secondary li:last-child a { border: none; }


