<h2>Credits for CascadeLMS</h2>

<p>I, <a href="http://www.mikehelmick.com/">Mike Helmick</a> came up with this 
	project to eliminate all the paperwork (printouts) involved with grading computer programs.  
	Over my first year of teaching it evolved and various parts were written, but nothing integrated.</p>
	
<p>Since then, CascadeLMS has evolved into much more (and been renamed from Computer Science CourseWare / CSCW). 
   We now have a wide set of features. <br/>
   Visit <a href="http://www.cascadelms.org">http://www.cascadelms.org</a> for more information.
   </p>	

<p>During the summer of 2006, I received funding from <a href="http://www.muohio.edu">Miami University's</a> <a href="http://www.units.muohio.edu/celt/">Center for Enhancement of Learning and Teaching</a> to complete this project.</p>

<p>Thank You:
<ul>
  <li>Scott Campbell for database and server support</li>
  <li>Norm Krumpe for using this software early on</li>
  <li>All students who have used this software</li>
</ul>
</p>

<p>The icons used in the application are provided under the creative commons license, with much thanks to <a href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam.com</a>.</p>

