<p>CascadeLMS was written by Mike Helmick from 2006 through 2013.</p>

<p>CascadeLMS makes use of the following frameworks:
<ul>
 <li><a href="http://www.rubyonrails.org">Ruby on Rails</a></li>
 <li><a href="http://codeforpeople.rubyforge.org/svn/bj/trunk/README">background job</a></li>
 <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
 <li><a href="http://jhollingworth.github.com/bootstrap-wysihtml5/">bootstrap-wysihtml5</a></li>
</ul>
</p>