<h2>Recover Password</h2>


<div id="form_area">
<% form_tag( :controller => "/index", :action => "send_forgot" ) do %>

<p class="blockintro">Enter your username to start the password recovery process.</p>  
  <div class="block">
    <label for='uniqueid' class="required">Username:</label>
      <%= text_field_tag 'uniqueid', '', :size => 20  %><br/>
  </div>
  <div class="submit">
    <%= submit_tag "Recover Password" %>
  </div>
<% end %>
</div>