<h2>Reset your password</h2>
<% form_tag( {:controller => "/index", :action => "confirm_reset", :id => @act_user.id, :seq => @act_user.forgot_token}, {:class => 'form-horizontal'} ) do %>
 <fieldset>
  <div class="control-group">
    <label for='email' class="control-label">Email Address:</label>
    <div class="controls">
      <%= text_field_tag 'email', '', :class => 'input-large', :autofocus => 'autofocus'  %>
    </div>
  </div>
  <div class="control-group">
    <label for='new_password' class="control-label">New Password:</label>
    <div class="controls">
      <%= password_field_tag 'new_password' %>
    </div>
  </div>
  <div class="control-group">
    <label for='new_password_confirm' class="control-label">Confirm Password:</label>
    <div class="controls">
      <%= password_field_tag 'new_password_confirm' %>
    </div>
  </div>
  <%= submit_tag "Reset Password", :class => 'btn-large btn-primary' %>
 </fieldset>
<% end %>