<h2>Editing blog post for <%= @course.title %></h2>

<% form_tag( {:action => 'update', :id => @post}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>

  <%= submit_tag('Edit', :class => 'btn btn-primary') %>
  <%= link_to('Cancel', {:action => 'index'}, {:class => 'btn'}) %>
<% end %>
