<h2>Grade Gategories for <%= @course.title %></h2>

<p>You can edit the grade categories for this course. 
Grade categories can be removed, as long as they are not already in use.</p>

<div id="grade_categories">
	<%= render :partial => 'grade_categories' %>
</div>

<div class="form-inline">
 <% form_remote_tag( :update => 'grade_categories', :url => { :action => 'add_category', :id => @course }, :complete => "new Effect.Highlight('grade_categories');" ) do %>
  <label for="id">New Grade Category</label> 
  <%= text_field_tag 'grade_category', '' %>
  <%= submit_tag('Add', {:class => 'btn btn-primary'}) %>
 <% end %>
</div>
