<% if @announcements.size > 0 %>
<% for announcement in @announcements %>
<div class="alert alert-info">
  <a class="close" data-dismiss="alert">×</a>
<p><strong>Posted <%= announcement.start.to_date.to_formatted_s(:long )%>:</strong><br/>
<%= announcement.text_html %></p>
</div>
<% end %>
<% end %>