<% 
 public_feed = false
 begin
   unless public_mode.nil?
     public_feed = public_mode
   end
 rescue
 end
%>

<% if @feed_items.size == 0 %>
  <div class="alert alert-info">No posts yet.</div>
<% else %>
<% day_ago = Time.now - 60*60*24 %>
<% for feed_item in @feed_items %>
 <% unless feed_item.item.nil? %>
   <% unless public_feed %>
     <%= render :partial => '/post/post', :locals => {:item => feed_item.item, :day_ago => day_ago} %>
   <% else %>
     <%= render :partial => '/post/public_post', :locals => {:item => feed_item.item, :day_ago => day_ago} %>
   <% end %>
 <% end %>
<% end %>

<div class="pagination">
 <ul>
	<% 1.upto(@pages.page_count) do |i| %>
	<li <%= 'class="active"' if i == @page %>>
	  <%= link_to i, { :page => i } %>
	</li>
	<% end %>
 </ul>
</div>
<% end %>