<% if @user.instructor || @user.admin %>
<li class="nav-header">Instructor Controls</li>
<li><%= link_to 'Create a new course <i class="icon-plus-sign"></i>', :controller => 'instructor/newcourse', :action => nil, :course => nil, :id => nil %></li>
<% end %>	
