<% form_tag( {:controller => "/home", :action => "account_update"}, {:class => 'form-horizontal'} ) do %>
  <legend><h2>Edit Your Account Information</h2></legend>
  <%= render :partial => 'account_form' %>
  <%= submit_tag "Save Changes", :class => 'btn-large btn-primary' %>
<% end %>
