<div class="SectionHeader"><div class="Full">
<h2>All Of Your Courses</h2>
</div></div>

<% for course in @courses %>
<table class="FadeTable" cellspacing="0">
  <tr class="header">
	<th colspan="3">
	  <%= link_to "<b>#{course.title}</b> #{course.short_description}#{' (Archived)' unless course.course_open }", :controller => "/overview", :course => course %>  (<%= course.term.semester %>)
	  <br/>
	  <b>Instructor: </b>
	  <% inst = course.instructors %>
	  <% if inst.size == 0 %>
	    <i>No instructor is currently assigned to this course.</i>
	  <% else %>
	    <%= inst.join(', ') %>
	  <% end %>
  </th>
</tr>
</table>
<% end %>