<h2>All Of Your Courses</h2>
<table class="table table-striped table-condensed">
 <tr>
  <th>Course</th>
  <th>Term</th>
  <th>Instructor</th>
 </tr>
<% for course in @courses %>
 <tr>
  <td><%= link_to "<b>#{course.title}</b> #{course.short_description}#{' (Archived)' unless course.course_open }", :controller => "/overview", :course => course %>
  </td>
  <td><%= course.term.semester %></td>
  <td><% if course.instructors.size == 0 %> <em>unknown</em>
	  <% else %> <%= course.instructors.join(', ') %>
	  <% end %>
  </td>
</tr>
<% end %>
</table>