<%= render :partial => 'announcements' %>

<%= render :partial => 'courses' %>


<div class="SectionHeader"><div class="Full">
<h2>Browse Public Courses</h2>
</div></div>
<p>Some courses provide public access to the course material, please <%= link_to "take look at the list of courses offering public access. #{image_tag 'world'}", :controller => '/public', :couse => nil, :assignment => nil %></p>