<div class="hero-unit">
  <h2>Grading in progress ... please wait.</h2>
<% amount = 1
   unless @queue.message.nil?
     amount = 25 if @queue.message.index('Autograding has started') == 0
     amount = 50 if @queue.message.index('Performing static analysis on your code') == 0
     amount = 75 if @queue.message.index('Compiling and running I/O based tests on your') == 0
     amount = 100 if @queue.message.index('AutoGrade complete') == 0
   end
%>
<div class="progress progress-striped active">
  <div class="bar" style="width: <%= amount %>%;"></div>
</div>
  <ul>
	<li>Request submitted at: <%= @queue.created_at.to_formatted_s(:rfc822) %></li>
	<% if @queue.acknowledged %>
	  <li>Processing started at: <%= @queue.updated_at.to_formatted_s(:rfc822) %></li>
	<% else %>
	  <li><strong>Processing has not yet started.</strong> <em>Please wait, this could take several minutes if the server is busy.  Your turn-in has already been accepted and will not be considered late if this process takes a long period of time.</em></li>
	<% end %>
	
	   <% unless @queue.message.nil? || @queue.message.eql?('') %>
	     <li><%= @queue.message %></li>
	   <% end %>
  </ul>
  <div class="alert">This page will automatically refresh...</div>
</div>