<h2>Edit User Account</h2>

<% form_tag( {:controller => "/admin/user_admin", :action => "update", :id => @new_user.id }, :onsubmit => "new Element.toggle('button');new Element.toggle('spinner');", :class => 'form-horizontal'  ) do %>
  <%= render :partial => 'form', :locals => { :edit => true } %>

  <div id="button">
    <%= submit_tag 'Update User', {:class => 'btn btn-primary'} %>
    <%= link_to 'Cancel', {:action => 'index'}, {:class => 'btn'} %>
  </div>
  <div id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></div>
<% end %>
