
<% if @rubric_right_only %>

<h2>Import Followup</h2>
<ul>
  <li>Rubrics are added without being associated with an assignment. You can copy these rubrics to individual assignments from each assignment's rubrics definition screen.</li>
</ul>

<% end %>