<%= render :partial => 'instructor/index/right' %>

<h2>Import Course Data</h2>
<p>You can only import from courses that you are/were an instructor of.  If someone else has agreed to let you import their course content, they will need to add you as an instructor to their course first.</p>
<p>All dates are adjusted relative to the previous course, you should adjust the dates to meet your needs.</p>

<h2>Import Followup</h2>
<ul>
  <li><b>Blog Posts:</b> Blog posts that will be dated in the future (relative to current time) will be imported, but not published.   You should manually publish these blog posts when appropriate.</li>

  <li><b>Documents:</b> Documents that are dated in the future will be imported, but not published.   All folders will be published (visible), regardless of their creation date.   You should manually publish documents when appropriate.</li>

  <li><b>Assignments:</b> All assignments will be immediately visible, subject to their adjusted open date.</li>
</ul>