<h2>Edit Settings for <%= @course.title %></h2>
<% form_tag( {:action => 'update', :id => @course}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>
 
  <%= submit_tag 'Save Settings', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:controller => '/instructor/index', :course => @course, :action => 'index'}, {:class => 'btn'} %>
<% end %>