<div id="form_area">

<%= start_form_tag :action => 'update', :id => @course %>
<h2>Edit Settings for <%= @course.title %></h2>

  <%= render :partial => 'form' %>
 
<div class="submit">
  <%= submit_tag 'Save Settings' %>
</div>
<%= end_form_tag %>
</div>

<%= link_to 'Cancel', :controller => '/instructor/index', :course => @course, :action => 'index' %>
