<h3><%= link_to "#{h program.title}", :action => 'program', :id => program %></h3>

<% if courses.nil? || courses.size == 0 %>
  <div class="alert alert-info">No courses in this term</div>
<% else %>
  <% for course in courses %>
    <%= render :partial => 'course', :locals => {:course => course, :extended => false} %>
  <% end %>
<% end %>