<h2>Export Grade Book for <%= @course.title %></h2>

<div class="alert">
<strong>Caution:</strong> These exported grades must treated as <a href="http://www.ed.gov/policy/gen/guid/fpco/ferpa/index.html">confidential data</a>.   Please treat this data carefully.
</div>


<%= link_to 'Download Grade Book Data <i class="icon-download icon-white"></i>', {:action => 'export_csv', :course => @course}, {:class => 'btn btn-success'} %>
<%= link_to 'Cancel', {:action => 'index', :course => @course}, {:class => 'btn'} %>