<div class="row-fluid">
 <div class="span12">
	<div class="btn-toolbar">	
	<div class="btn-group">
      <%= link_to 'Send new email <i class="icon-inbox"></i>', {:action => 'email_compose', :id => @team, :course => @course}, {:class => 'btn btn-small'} %>
    </div>
    <%= render :partial => 'buttons' %>
    </div>
 </div>
</div>