<div class="row-fluid">
 <div class="span12">
	<div class="btn-toolbar">	
	<div class="btn-group">
    <% unless @page.nil? %>   
    <%= link_to "<i class=\"icon-edit\"></i> Edit Page '#{@page.page}'", {:controller => '/team', :id => @team, :course => @course, :action => 'wikiedit', :page => @page.page}, {:class => 'btn btn-small'} %>
    <%= link_to "<i class=\"icon-road\"></i> History for '#{@page.page}'", {:controller => '/team', :id => @team, :course => @course, :action => 'wikipast', :page => @page.page}, {:class => 'btn btn-small'} %>
    <% end %>
    <%= link_to '<i class="icon-th-list"></i> All Wiki Pages', {:controller => '/team', :id => @team, :course => @course, :action => 'wikidex'}, {:class => 'btn btn-small'} %>
    </div>
    <%= render :partial => 'buttons' %>
    </div>
 </div>
</div>