<%= render :partial => 'emailhead' %>

<hr/>

<h3>Email for team '<%= @team.name %>'</h3>

<hr/>

<h2>Reading message '<%= @email.subject %></h2>
<p>Sent by: <%= @email.user.display_name %> @ <%= @email.created_at.to_formatted_s(:long) %> (<%= distance_of_time_in_words_to_now( @email.created_at ) %>)</p>

<div class="SectionHeader"><div class="Full">
	<b><%= @email.subject %></b>
</div></div>

<div class="Section">
<%= @email.message.to_html %>
</div>