<%= error_messages_for('term', {:class => 'alert alert-error'}) %>

<!--[form:terms]-->
<div class="control-group">
  <label for="term_term" class="control-label">Term</label> 
  <div class="controls">
	<%= text_field 'term', 'term' %>
  </div>
</div>

<div class="control-group">
  <label for="term_year" class="control-label">Year</label>
  <div class="controls">
    <%= select 'term', 'year', @years.collect { |p| [ p, p ] }, { :selected => @term.year } %>
  </div>
</div>

<div class="control-group">
  <label for="term_semester" class="control-label">Semester: </label>
  <div class="controls">
    <%= text_field 'term', 'semester' %>
    <p class="help-block">Semester is a descriptive term, like 'Fall 2005' or 'Spring 2006'.</p>
  </div>
</div>

<!--[eoform:terms]-->
