<h2>Editing Academic Term</h2>

<% form_tag({:action => 'update', :id => @term}, {:class => 'form-horizontal'}) do %>
  <p class="help-block">Any changes to this academic term will be in description only.  Any courses / course material associate with this term will remain associated with this term.</p>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:action => 'list'}, {:class => 'btn'} %>
<% end %>
