<p><%= link_to 'Back to Quiz/Survey', :controller => '/instructor/quiz', :course => @course, :action => 'questions', :id => @assignment %></p>

<div class="SectionHeader"><div class="Full">
<h2>Edit Question for
<% if @assignment.quiz.survey %>
  Survey:
<% else %>
  Quiz:
<% end %>
'<%= @assignment.title %>'</h2>
</div></div>

<div id="form_area">  
  <% form_tag( :action => 'update_question', :course => @course, :id => @assignment, :question => @quiz_question ) do %>

  <%= render :partial => 'question_form' %>
 
  <div class="submit">
	<%= submit_tag "Save Changes to Question" %>
  </div>
  <% end %>	
</div>