<h2>Create Question for
<% if @assignment.quiz.survey %>
  Survey:
<% else %>
  Quiz:
<% end %>
'<%= @assignment.title %>'</h2>

<% form_tag({:action => 'create_question', :course => @course, :id => @assignment}, {:class => 'form-horizontal'}) do %>
  <%= render :partial => 'question_form' %>
 
  <%= submit_tag 'Create Question', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:controller => '/instructor/quiz', :course => @course, :action => 'questions', :id => @assignment}, {:class => 'btn'} %>
<% end %>	
