
<!--
<h2>Due Dates</h2>
<% 
today = Date.today 
code_block = Proc.new do |d|
	  if d.eql?(today) 
	    [d.mday, {:class => "specialDay"}]     
	  else
		clazz = "day"                                     
		@course.assignments.each do |x|
		  if x.due_date.to_date.eql?(d)
		    clazz = "otherSpecialDay" 
		  end	
		end
	    [d.mday, {:class => clazz}]	 
	  end
    end
%>

<%= calendar( :year => today.year, :month => today.month, :abbrev=>(0..0) ) { |d| code_block.call(d) } %>
<% today = today.to_time.next_month %>
<%= calendar( :year => today.year, :month => today.month, :abbrev=>(0..0) ) { |d| code_block.call(d) } %>
<% today = today.to_time.next_month %>
<%= calendar( :year => today.year, :month => today.month, :abbrev=>(0..0) ) { |d| code_block.call(d) } %>
-->