<h3>AutoGrade Settings</h3>

<p>At this time, the built in grading functionality is limited to passing command line arguments, providing standard input, and comparing standard output.   You may access this functionality for individual files containing a main method (Java only) when grading files.</p>

