<%= render :partial => '/public/enrolled' %>

<h2>Assignments for <%= @course.title %></h2>

<%= render :partial => '/assignments/assignment_list', :locals => { :assignments => @assignments, :public => true } %>