<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">CascadeLMS</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to 'Login', :controller => '/', :action => nil, :id => nil %></li>
          <li><%= link_to 'Public Access', :controller => '/public', :action => nil, :id => nil %></li>
        </ul>
      </div>
    </div>
  </div>
</div>