<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<title><%=@title if @title%></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<%= javascript_include_tag :defaults %>
	
	<%= stylesheet_link_tag "master", :media => "all" %>
	<%= stylesheet_link_tag "calendar/red/style", :media => "all" %>
	
	<% if @course %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'feed', :course => @course }) %>
	<% end %>
</head>

<body>

<div id="navcontainer">

<table width="100%" border="0" >
 <tr>
  <td align="left"><div id="headerleft"><%=@app['title']%></div></td>
  <td align="right"><div id="headerright">
<% if session[:user] %>
    <% unless @app['dir_link'].nil? %> 
     Logged in as <a href="<%=@app['dir_link']%><%= session[:user].uniqueid %>" target="_blank"><%=session[:user].display_name%></a>
    <% else %>
     Logged in as <%=session[:user].display_name%>
    <% end %>
     (<%= link_to "log out #{image_tag 'lock_go'}", :controller => '/index', :action => 'logout' %>) 
  
  <% unless @user.nil? %>
   <% if @user.courses_in_term(session[:current_term]).size > 1 %><br/>
    <% for cu in @user.courses_in_term(session[:current_term] ) %>
      <%= image_tag 'bullet_go', :align => 'absmiddle' %><%= link_to "#{cu.course.title}", :controller => '/overview', :course => cu.course.id %> 
    <% end %>
   <% end %>
  <% end %>
<%else%>You are not logged in.
<%end%>
</div>
 </tr>
</table>

	<ul id="navlist">
		
		<% if session[:user].nil? %>
		  <li><%= link_to "Login", { :controller => '/' }, { :id => 'current' } %></li>
		
		<% else%>
		
		  <% if @show_course_tabs.nil? || !@show_course_tabs %>
		    <% if @tab.nil? || !@tab.eql?('home') %>
		      <li><%= link_to 'Home', :controller => '/home', :course => nil, :assignment => nil %></li>
		    <% else %>
		      <li><%= link_to 'Home', { :controller => '/home', :course => nil, :assignment => nil }, { :id => 'current' } %></li>
		    <% end %>
		
		  <% else %>
		
		    <li><%= link_to 'Home', :controller => '/home', :course => nil, :assignment => nil %></li>     
		    <% if @tab.nil? || !@tab.eql?('course_overview') %>
		          <li><%= link_to 'Overview', :controller => '/overview', :course => @course %></a></li> 
		    <% else %>
                  <li><%= link_to 'Overview', { :controller => '/overview', :course => @course }, { :id => 'current' } %></li>		
		    <% end %> 
		    
		     <% if @course.course_setting.enable_blog %>
			  <% if @tab.nil? || !@tab.eql?('course_blog') %>
			    <li><%= link_to 'Course Blog', :controller => '/blog', :course => @course %></li> 
			  <% else %>
	            <li><%= link_to 'Course Blog', { :controller => '/blog', :course => @course }, { :id => 'current' } %></li>
	          <% end %>
	         <% end %>
			
			  <% if @tab.nil? || !@tab.eql?('course_documents') %>
			    <li><%= link_to 'Documents', :controller => '/documents', :course =>@course %></li>
			  <% else %>
			    <li><%= link_to 'Documents', { :controller => '/documents', :course =>@course }, { :id => 'current' } %></li>
			  <% end %>
			
			  <% if @tab.nil? || !@tab.eql?('course_assignments') %>
				<li><%= link_to 'Assignments', :controller => '/assignments', :course => @course %></li>
			  <% else %>
			    <li><%= link_to 'Assignments', { :controller => '/assignments', :course => @course }, { :id => 'current' } %></li>
			  <% end %>
			
			<% if @course.course_setting.enable_project_teams %>
			  <% if @tab.nil? || !@tab.eql?('course_teams') %>
			    <li><%= link_to 'Team Center', :controller => '/team', :course => @course %></li> 
			  <% else %>
	            <li><%= link_to 'Team Center', { :controller => '/team', :course => @course }, { :id => 'current' } %></li>
	          <% end %>
			<% end %>
			
			<% if @course.course_setting.enable_forum %>
			  <% if @tab.nil? || !@tab.eql?('course_forum') %>
			    <li><%= link_to 'Forums', :controller => '/forums', :course => @course %></li> 
			  <% else %>
	            <li><%= link_to 'Forums', { :controller => '/forums', :course => @course }, { :id => 'current' } %></li>
	          <% end %>
	         <% end %>
		    
		    <% if @user.student_in_course?(@course.id) && @course.course_setting.enable_gradebook %>
		  	  <% if @tab.nil? || !@tab.eql?('course_grades') %>
			    <li><%= link_to 'Grades', :controller => '/grades', :course => @course %></li>
		      <% else %>
		        <li><%= link_to 'Grades', { :controller => '/grades', :course => @course }, { :id => 'current' } %></li>
		      <% end %>		
		    <% end %>
		
			<% if @user.student_in_course?(@course.id) && @course.course_setting.enable_attendance %>
		  	  <% if @tab.nil? || !@tab.eql?('course_attendance') %>
			    <li><%= link_to 'Attendance', :controller => '/attendance', :course => @course %></li>
		      <% else %>
		        <li><%= link_to 'Attendance', { :controller => '/attendance', :course => @course }, { :id => 'current' } %></li>
		      <% end %>		
		    <% end %>
		
		    <% if @user.instructor_in_course?(@course.id) || @user.assistant_in_course?(@course.id) %>
		      <% if @tab.nil? || !@tab.eql?('course_instructor') %>
		        <li style="padding-left: 25px"><%= link_to 'Instructor', { :controller => '/instructor/index', :course => @course } %></li>
		      <% else %>
		        <li style="padding-left: 25px"><%= link_to 'Instructor', { :controller => '/instructor/index', :course => @course }, { :id => 'current' } %></li>
		      <% end %>
		    <% end %>
		
		  <% end %>
		  
		  <% if @user && @user.admin %>
		    <% if @tab.nil? || !@tab.eql?('administration') %>
		      <li style="padding-left: 25px"><%= link_to 'Administration', :controller => '/admin', :course => nil %>
		    <% else %>
		      <li style="padding-left: 25px"><%= link_to 'Administration', { :controller => '/admin', :course => nil }, { :id => 'current' } %></li>
		    <% end %>

		    
		  <% end %>
		<% end %>
		
	</ul>
	

</div>

<div id="Wrapper">
<div class="Container">

<table class="layout">
  <tr>
    <td class="left">
      <div class="Left">
        <div class="col">
<% if flash[:notice] %><div id="GoodMessage"><%= flash[:notice] %></div><% end %>
<% if flash[:badnotice] %><div class="errorExplanation"><%= flash[:badnotice] %></div><% end %>

<% if @course && !@course.open %>
<div class="errorExplanation" align="center"><b>This course is now in archive mode, no changes may be made.</b></div>
<% end  %>

<% if @course && @course.course_setting && @course.course_setting.enable_attendance && @user.student_in_course?(@course.id) && @course.open_class_period? %>
<div class="GoodMessage"><%= link_to 'Attendance reporting is open right now for this class.', :controller => '/attendance', :course => @course %></div>
<% end %>

<%= @content_for_layout %>

		</div>
		
		 <div class="bottom">&nbsp;</div>
		 <div id="Footer">
		   Copyright &copy; 2006 - 2007 <a href="http://www.users.muohio.edu/helmicmt/">Mike Helmick</a> | <%= link_to "Credits", :controller => "/index", :action => 'credits' %> |
		   <a href="http://www.users.muohio.edu/helmicmt/cscw/">Computer Science Courseware v<%=@app['version']%></a><br/>
		   Installed for <%=@app['title']%>, Site contact: <a href="mailto:<%=@app['email']%>"><%=@app['email']%></a> <br/>
		
		   <% unless session[:user].nil? %>
		   Powered by Ruby v<%= RUBY_VERSION %> and Ruby on Rails v<%= Rails::VERSION::STRING %> 
		   <% end %>
		 </div>
	  </div>
	</td>
	
	<td class="right">
	  <div class="Right">
	    <div class="col">
	
<%= render :partial => "right" %>	
	
	    </div>
	  </div>
	</td>
	
 </tr>
</table>

<% if flash[:highlight] %> 
  <%= javascript_tag visual_effect(:highlight, "#{flash[:highlight]}", :duration => 3.5 )  %>
<% end %>

</div>
</div>

</body>
</html>