<h3>Add users to this course</h3>
<% if @course.course_open %>
<% form_remote_tag( :update => 'search_results', :url => { :action => :search, :id => @course }, :complete => "new Effect.BlindDown('search_results');") do %>
	<%= text_field_tag 'searchterms', '', {:placeholder => 'User Search', :class => 'input-medium search-query'} %>
	<%= submit_tag 'Search', :class => 'btn btn-primary' %><br/>
	<% end %>
<span id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></span>

<div id="search_results" style="display: none;">
</div>
<% else %>
<div class="alert">Disabled: this course is in archive status.</div>
<% end %>